
import sys

sys.path.append("../tests")

from runner_tools import create_test
{% set counter = namespace(value=0) %}
{% for full_name, module in modules.items() %}
{% for test_name, test in module.tests.items() %}
@create_test("{{module.verilog_toplevel}}", "{{full_name}}", "{{module.name}}", "{{test.name}}", {{module.verilog_parameters}})
def test_{{ counter.value }}(): ...
{% set counter.value = counter.value + 1 %}
{% endfor %}
{% endfor %}

